<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
  <section class="col-md-8 mx-auto pdd">
    <h2>プロフィール</h2>
    <p class="m-2">[[${msg}]]</p>
    <table class="table">
      <tr>
        <th>名前</th>
        <td>[[${customer.name}]]</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>[[${customer.email}]]</td>
      </tr>
      <tr>
        <th>住所</th>
        <td>[[${customer.address}]]</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>[[${customer.tel}]]</td>
      </tr>
    </table>
    <form th:action="@{/customer/upsert}" method="get">
      <input type="hidden" name="id" th:value="${customer.id}">
      <input type="hidden" name="name" th:value="${customer.name}">
      <input type="hidden" name="email" th:value="${customer.email}">
      <input type="hidden" name="address" th:value="${customer.address}">
      <input type="hidden" name="tel" th:value="${customer.tel}">
      <input type="hidden" name="role" th:value="${customer.role}">
      <input class="btn btn-success" type="submit" value="プロフィール編集">
    </form>
  </section>
</div>
</html>