<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8">
<title th:text="${title}?:_">Insert title here</title>
<link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bg-light">
  <header>
    <nav class="navbar navbar-expand-lg  navbar-light navbar-dark bg-dark">
      <div class="container">
        <h1 class="navbar-brand">SpringTest</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav list-unstyled">
            <li class="nav-item active" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/">ホーム</a></li>
            <li class="nav-item active" sec:authorize="hasRole('USER')"><a class="nav-link" href="/">ホーム</a></li>
            <li class="nav-item active" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/employer">ホーム</a></li>
            <li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link" href="/login">ログイン</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/customer_information">会員情報</a></li>
            <li class="nav-item" sec:authorize="hasRole('USER')"><a class="nav-link" href="/seeker/offer_list">応募一覧</a></li>
            <li class="nav-item" sec:authorize="hasRole('ADMIN')"><a class="nav-link" href="/employer/offer_list">応募一覧</a></li>
            <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/logout">ログアウト</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="bg-dark pb-4" sec:authorize="!hasRole('EMPLOYER')">
    <div class="container">
      <form th:action="@{/search}" method="get" class="form-inline">
        <input name="value" class="col-5 form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  <main class="min-vh-100">
    <div th:include="__${main}__"></div>
  </main>
  <footer class="bg-dark">
    <p class="text-center p-3 text-light">&copy;2021 SpringTest</p>
  </footer>
  <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</body>
</html>